* {
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 200;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.331);
  flex-direction: column;

  color: rgb(162, 162, 162);
  color:#f6d4ba00;
  color:#b9480c;

}
